<header class="header">
    <div>
        {{> logo}}
    </div>
    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>                
    </nav>
</header>

<main class="main">
    <div class="info">
        {{#with info}}
            <h1 class="info_title">{{title}}</h1>
            <p class="info_description">{{description}}</p>
        {{/with}}
    </div>
    
    {{#with form}}
        <form class="form">           
            <div class="form_input_list">
                {{#each inputs}}
                    <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}" id="form-input-{{id}}" />
                {{/each}}
            </div>

            <div class="form_checkbox">
                <input type="checkbox" name="{{checkbox.name}}" id="checkbox_name">
                <div></div>
                <label for="checkbox_name">{{checkbox.label}}</label>
            </div>

            <button type="submit" class="form_button">{{button}}</button>
            <p class="form_info">{{info}}</p>
        </form>
    {{/with}}
</main>

<div class="updates">
    {{#with updates}}
        {{> updatesList data=this}} 
    {{/with}}
</div>

<div class="feedbacks">
    {{#with expirience}}
           {{> cardFeedback data=this}}    
    {{/with}}
    
</div>

<footer class="footer">
    <div>
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
        <div>
            <span class="footer_title">{{title}}</span>
            {{>nav list=links isVertical=true}}                       
        </div>
    {{/each}}    
</footer>        

